<!-- <mat-toolbar color="primary">
    <mat-toolbar-row fxLayout="row">
        <span>Login</span>
        <span class="spacer"></span>
        <button class="mat-dialog-close" mat-icon-button mat-dialog-close>
            <mat-icon>close</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="loginForm">
        <div fxFlex fxLayout="column">
            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngif="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                    <span *ngIf="loginForm.controls.email.required">Mandatpry field!</span>
                    <span *ngIf="loginForm.controls.email.pattern">Invalid field!</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="standard" fxFlex>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" required [type]="hide? 'password' :'text'">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria.pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngif="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                    <span *ngIf="loginForm.controls.password.required">Mandatpry field!</span>
                </mat-error>
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()" [disabled]="!(loginForm.valid && loginForm.dirty)">
        <mat-icon>login</mat-icon>Login
    </button>
    <button mat-raised-button color="warn" mat-dialog-close><mat-icon>cancel</mat-icon>Close</button>
</mat-dialog-actions>
 -->

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    /* background: rgb(179, 177, 177); */
}

.header{
    /* background-color: #fff; */
    border: 2px solid black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 13%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

/* nav{
    margin-left: 100px; for logo
} */

.navbar{
    border: 2px solid black;
}
.navbar a{
    position: relative;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin-right: 30px;
    text-decoration: none;
}

.navbar a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #ffffff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

.navbar a:hover:after{
    transform: translateY(0);
    opacity: 1;
}
form{
    /* border: 2px solid black; */
}
/* .search-bar{
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.searchbar{
    border: 2px solid black;
}
.search-bar input{
    
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color:rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 10px;
}

.search-bar button{
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}

.search-bar input::placeholder{
    color: rgb(255, 255, 255);
    /* text-align: center; */
}

/* .search-bar button i{
    font-size: 22px;
} */ 

.container{
    border: 2px solid black;
    position: absolute;
    left: 40%;
    top: 70%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 100%;
    background: url(R1.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 75%;
    border-radius: 20px;
    margin-top: -15px;
}

.item{
    position: absolute;
    top: 0;
    left: 0;
    width: 58%;
    height: 100%;
    color: #fff;
    background: transparent;
    padding: 80px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.left-logo{
    border: 2px solid black;
    width: 10px;
    height: 10px;
    margin-left: -50px;
    font-size: 10px;
}

.item .logo{
    color: #fff;
    font-size: 30px;
}

.text-item h2{
    font-size: 40px;
    line-height: 1;
}

.text-item p{
    font-size: 16px;
    margin: 20px 0;
}

.social-icon a{
    font-size: 22px;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
    transition: .5s ease;
}

.social-icon a:hover i{
    transform: scale(1.2);
}

.container .login-section{
    position: absolute;
    top: 0;
    right: 0;
    left: 60%;
    width: calc(100% - 58%);
    height: 100%;

    color: #fff;
}
div.form-box.register{
    margin-left: 40%;
    opacity: 1;
    background: white;
    
}
.form-box.register{
    width: fit-content;
    height: auto;
    
    
    opacity: 1;
    /* transform: translateX(430px); */
    /* transition: transform .6s ease;
    transition-delay: 0s; */
}

.login-section .form-box{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.login-section .form-box h2{
    text-align: center;
    font-size: 25px;
}

.form-box .input-box{
    width: 250px;
    height: 50px;
    left: 8%;
    border-bottom: 2px solid #545151;
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-top: 20px;
    padding-right: 28px;
}

.input-box label{
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: .5s ease;
    
}

.form-box .icon{
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.input-box input:focus~label,
.input-box input:focus~label{
    top: -5px;
}

.mid{
    background-image: url("../../assets/img/bg1.png"); 
    opacity: 100%;
    /* border: 2px solid black; */
}
.mid .left{
    height: 100%;
    width: 100%;
    /* border: 2px solid yellow; */
    background-image: url("../../assets/img/bg.png");

}

.mid .right{
    background-image: url("src/assets/img/bg.png");
}

.mid .form-box h2{
    margin-top: 2%;
    margin-left: 35%;
}

.remember-password{
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-password input{
    margin-left: 20%;
    accent-color: #fff;
}

.remember-password label{
    width: 100%;
    margin-left: 1%;
}

.remember-password a{
    color: #fff;
    text-decoration: none;
}

.remember-password a:hover{
    text-decoration: underline;
}

.btn{
    background: #fff;
    width: 60%;
    height: 45px;
    outline: none;
    border: none;
    margin-left: 15%;
    border-radius: 4px;
    cursor: pointer;
    background: #f72d7a;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0,0,0,0.4);
}

.create-account{
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}

.create-account p a{
    color: #f72d7a;
    font-weight: bold;
    text-decoration: none;
}

.create-account p a:hover{
    text-decoration: underline;
}

.background{
    background: url(R1.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 117vh;
    width: 100%;
    opacity: 50%;
}

.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Footer */
.footer {
  /* padding: 6px;
  text-align: center;
  color: white;
  /* background: #7b1fa2; */
  background: #f72d7a; */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

* {
  box-sizing: border-box;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 25%;
  padding: 20px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
  .column {
    flex: 50%;
  }
}

body {
  background-color: #d7d8d9;
}

.wrapper {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content:center;
  background-color: #fefefe;
  z-index: 1000;
  // padding: 2rem 9%;
  
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.285);
}

nav {
  display: flex;
  width: 90%;
}

ul li a {
  margin-left: 1.5em;
}

a.logo {
  font-size: 2rem;
  font-weight: bolder;
  margin-right: auto;
}

ul {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: #666;
  position: relative;
  font-size: 1.25em;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .wrapper {
    height: auto;
  }
  
  nav {
    flex-direction: column;
    align-items: center;
  }
  
  a.logo {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 0px;
  }
  
  ul {
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-between;
  }
  
  ul li a {
    margin-left: 0px;
  }
}


@media (max-width: 768px) {
  a.logo {
    margin: 1.5em;
  }
  
  ul {
    flex-direction: column;
  }
  
  ul li {
    margin: 0.3em;
    text-align: center;
  }
  
  ul li a {
    margin-left: 0px;
  }
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
}

.mat-icon {
  vertical-align: middle;
}
.bg-image {
  /* The image used */
  background-image: url("../../assets/img/food1.jpg");
  
  /* Add the blur effect */
  filter: blur(3px);
  -webkit-filter: blur(3px);
  
  /* Full height */
  height: 50%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*z-index: 2;*/
  width: 55%;
  padding: 20px;
  text-align: center;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<div class="bg-image"></div>
<!-- <app-best-seller></app-best-seller> -->

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon><i class="fas fa-utensils" style="color: red;"></i></mat-icon> <b>RestroGO!</b>
    </a>
    <ul>
      <li>
        <a href="#">Home</a>
        <!-- <a (click)="handleSignupAction()">Sign Up</a> -->
        <!-- <a href="signup.component.html">Sign Up</a> -->
      </li>
    </ul>
    <div class="searchbar">
      <form action="" class="search-bar">
          <input type="text" placeholder="Search....">
          <button><i class="bx bx-search"></i></button>
      </form>
  </div>
  </nav>
</div>
<div class="mid">   
    <div class="form-box register">
        <form form [formGroup] = "loginForm">
            <h2>Login</h2>
            <div class="input-box">
                <span class="icon"><i class='bx bxs-envelope'></i></span>
                <input formControlName="email" type="email" required>
                <label for="">Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                <input formControlName="password" type="password" required>
                <label for="">Password</label>
            </div>
            <div class="remember-password">
                <input type="checkbox" required>
                <label for="">I agree with the t&c.</label> 
            </div>
            <button class="btn" type="submit" (click)="handleSubmit()">Login</button>
            <div class="create-account">
                <p>Don't Have an account? <a (click)="goToPage('signup')">Sign Up</a> </p>
            </div>
        </form>
    </div>
</div>
<div class="footer" id="signup">
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>